---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/{{ OPERATOR_NAME }}.{{ NAMESPACE }}: ''
  name: {{ OPERATOR_NAME }}
  namespace: {{ NAMESPACE }}
spec:
  channel: '{{ CHANNEL }}'
  installPlanApproval: Automatic
  name: {{ OPERATOR_NAME }}
  source: {{ CATALOG_SOURCE }}
  sourceNamespace: openshift-marketplace
